{% extends "base.html" %}

{% load static %}
{% block scripts %}
<script src="{% static 'exams/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %} Exams {% endblock title %}

{% block content %}

<!-- MAIN.HTML File Starts Here-->
<!-- Modal -->
<div class="modal fade" id="examStartModal" tabindex="-1" aria-labelledby="examModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        {% for obj in object_list %}
        <h3 class="modal-title font-weight-bold" id="exampleModalLabel">{{obj.exam_name}}</h3>
        {% endfor %}
      </div>
      <div class="modal-body" id="modal-body"></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-lg mx-3" data-bs-dismiss="modal" onclick="window.location.reload();">Cancel</button>
          <button type="button" class="btn btn-primary btn-lg" id="start-button">Start Exam</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-top navbar-light bg-white shadow-sm px-5">
  <div class="container-fluid px-5 py-2">
    <a href="{% url 'exams:main-view' %}" class="h3 text-dark" style="text-decoration: none;">Exam App</a>
    <div class="d-flex">
      {% if user.is_authenticated %}
      <h6><a class="btn bg-white mx-4" href="{% url 'results'%}">Exam History</a></h6>
      <h6><a class="btn btn-light" href="{% url 'logout'%}">Logout</a></h6>
      {% else %}
      <h6><a class="btn btn-light bg-white mx-3 border-0 px-3" href="{% url 'register'%}">Register</a></h6>
      <h6><a class="btn btn-dark border-0 px-3" href="{% url 'login'%}">Login</a></h6>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container py-5 mt-5">
  <div class="py-3">
    {% if user.is_authenticated %}
    <h6 class="lead">Hello, {{user.first_name}}👋</h6>
    {% endif %}
  </div>

  <div class="py-2">
    <div class="row gap-3">
      {% for obj in object_list %}
      <div class="col-sm-4">
        <div style="border-radius: 12px" class="card border border-light shadow-sm bg-white p-2">
          <div class="card-body">
            <h3 class="card-title">{{obj.exam_name}}</h3>
            <div class="card-text mb-3">
              <small>Exam ID: <b>{{obj.pk}}</b></small><br>
              <small>Semester: <b>{{obj.semester}}</b></small><br>
              <small>Duration: <b>{{obj.duration}}</b> minutes</small><br>
            </div>
            <div class="d-grid">
              {% if user.is_authenticated %}
              <button class="btn btn-primary modal-button" data-bs-exam-id="{{obj.exam_id}}" data-bs-exam="{{obj.exam_name}}"
                data-bs-questions="{{obj.total_questions}}" data-bs-marks="{{obj.total_assigned_marks}}"
                data-bs-duration="{{obj.duration}}" data-bs-pass="{{obj.pass_mark}}" data-bs-toggle="modal"
                data-bs-target="#examStartModal">
                Start Exam
              </button>
              {% else %}
              <button class="btn btn-dark modal-button" disabled>Start Exam</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- MAIN.HTML File End Here-->
{% endblock content %}